{
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "crlf",
  "singleQuote": true,
  "semi": false,
  "printWidth": 120,
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "none"
}
