{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": ".",
    "keepClassNames": true,
    "paths": {
      "@/*": ["yui/*"],
      "config-service/*": ["yui/config-service/*"]
    },
    "target": "es2020",
    "loose": false,
    "externalHelpers": false
  },
  "sourceMaps": true,
  "minify": false,
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  }
}

